<div class="component-inner hotgrid-inner" role="region" aria-label="{{_globals._components._hotgrid.ariaRegion}}" {{#if _globals._components._hotgrid.ariaRegion}}tabindex="0"{{/if}}>
    {{> component this}}
    <div class="component-widget hotgrid-widget">

        <div class="hotgrid-grid">
            <div class="hotgrid-grid-inner clearfix">
                {{#each _items}}
                    {{> (lookup .. '_classTemplate') this}}
                {{/each}}
            </div>
        </div>

    </div>
</div>